<!DOCTYPE html>
<html>

<head>
    <title>Log In</title>
    <link rel="stylesheet" type="text/css" href="/static/auth.css">
</head>
    
        {% extends 'navbar.html' %}

        {% block body %}

        <div class="form">
            <h1>Log In</h1>
            <form action="login" method="post">
                <input tabindex="1" type="text" name="username" placeholder="Username" />
                <input tabindex="1" type="password" name="password" placeholder="Password" />
                <button tabindex="1" type="submit" value="Log In"> Log In </button>
            </form>
        </div>

        {% endblock %}

</html>