<!DOCTYPE html>
<html>

<head>
    <title>Car Auction</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/auction.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
        integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <script src="/static/auctions.js"></script>


</html>
</head>

<body>

    {% include 'navbar.html' %}

    <div class="content">
        <h2>{{auction.car.brand}} {{auction.car.model}}</h2>
        <div class="auction-info">
            <div class="car-info">
                <div class="auction-details">
                    <p><strong>Current bid:</strong> {{auction.price}}</p>
                    {% if auction.bidder %}
                    <p><strong>Highest bidder:</strong> {{auction.bidder_name.username}}</p>
                    {% endif %}
                    <p class="remaining"><strong>Ends in:</strong> {{auction.remaining_time}}</p>
                    <p><strong>Location:</strong> {{auction.location}}</p>
                    {% if auction.car.owner_id != current_user.id and auction.bidder != current_user.id %}
                    <button class="bid"><a href="/auction/{{auction.id}}/bid?amount={{auction.price + 500}}">Bid
                            {{auction.price + 500}}</a></button>
                    {% endif %}
                </div>
                <div class="car-details">
                    <p><strong>Condition:</strong> {{auction.car.condition}}</p>
                    <p><strong>Year:</strong> {{auction.car.year}}</p>
                    <p><strong>Mileage:</strong> {{auction.car.mileage}}</p>
                </div>
                <div class="car-images">
                    {% for image in images %}
                    <img src="data:image/png;base64,{{ image.data }}" alt="{{auction.car.brand}} {{auction.car.model}}">
                    {% endfor %}
                </div>
            </div>
            <div data-lon="{{auction.longitute}}" data-lat="{{auction.latitude}}" class="map" id="map"></div>
        </div>
    </div>

    <footer>
        <p>Copyright © 2023 Car Auction</p>
    </footer>

</body>
<script src="/static/auction.js"></script>