<!DOCTYPE html>
<html>
<head>
    <title>Sell a Car</title>
</head>

</html>

<body>

    {% include 'navbar.html' %}

    <h1>Sell a Car</h1>

    <form action="sell" method="post" enctype="multipart/form-data">

        <select name="car">
            {% for car in cars %}
            <option value="{{ car.id }}">{{ car.brand }} {{ car.model }}</option>
            {% endfor %}
        </select>

        <input type="text" name="price" placeholder="Price" />

        <input type="date" name="end_date" placeholder="End Date" />

        <input type="time" name="end_time" placeholder="End Time" />

        <input type="text" name="location" placeholder="Location" />

        <input type="file" name="images" multiple placeholder="Images" />

        <button type="submit">Sell</button>

    </form>

</body>

</html>