li {
    margin-right: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}


.card {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 20px;
    width: 35vw;
    height: 65vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

a {
    display: block;
    width: 100%;
}

.card img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    margin: 0 auto;
    margin-bottom: 2vh;
}


@media screen and (max-width: 1200px) {
    .card {
        width: 90vw;
    }
}

@media screen and (max-width: 600px) {
    .card {
        width: 90vw;
        height: 80vh;
    }

    .card img {
        width: 100%;
    }

}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}