nav {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
    border-bottom: 1px solid rgb(0, 0, 0);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin-right: 10px;
}

a {
    color: #fff;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255);
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: rgb(68, 134, 255);
}

button {
    margin: 5px 0;
    padding: 7px 15px;
    background-color: #0053b3;
    border: none;
    color: #fff;
    font-size: 14px;
    transition: all .1s ease;
}

button:hover {
    background-color: #0066ff;
    box-shadow: 0 7px 0 -4px #b7b7b7;
    transform: translateY(-2px);
}

img {
    transition: 0.2s;
    border-radius: 10px;
}

img:hover {
    scale: 1.1;
    transition: 0.2s;
}

input {
    margin: 5px 0;
    padding: 7px 15px;
    background-color: #0053b3;
    border: none;
    color: #fff;
    font-size: 14px;
    transition: all .1s ease;
}

input:hover {
    background-color: #0066ff;
    box-shadow: 0 7px 0 -4px #b7b7b7;
    transform: translateY(-2px);
}

select {
    margin: 5px 0;
    padding: 7px 15px;
    background-color: #0053b3;
    border: none;
    color: #fff;
    font-size: 14px;
    transition: all .1s ease;
}

@media screen and (max-width: 520px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    ul {
        flex-direction: column;
    }

    li {
        margin-right: 0;
        margin-bottom: 10px;
    }
    
    a {
        color: #fff;
        text-decoration: none;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}