/*2 cards next to eachother in the content*/

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.card {
    width: 45%;
    margin-bottom: 75px;
}

.profile-info {
    width: 100%;
}

img {
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}