<!DOCTYPE html>
<html>

<head>
    <title>Car Auction</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/auction.css">

</html>
</head>

<body>

    {% include 'navbar.html' %}

    <main>
        <h2>{{auction.car.brand}} {{auction.car.model}}</h2>
        <div class="auction-info">
            <div class="auction-details">
                <p><strong>Current bid:</strong> {{auction.price}}</p>
                <p><strong>Ends in:</strong> {{auction.end_date}}</p>
                <p><strong>Location:</strong> {{auction.location}}</p>
            </div>
            <div class="car-details">
                <p><strong>Condition:</strong> {{auction.car.condition}}</p>
                <p><strong>Year:</strong> {{auction.car.year}}</p>
                <p><strong>Mileage:</strong> {{auction.car.mileage}}</p>
            </div>
        </div>
    </main>
    
    <footer>
        <p>Copyright © 2023 Car Auction</p>
    </footer>

</body>