<!DOCTYPE html>
<html>

<head>
    <title>Car Auction</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/auctions.css">

</html>
</head>

<body>

    {% include 'navbar.html' %}

    <div>

        <h2>Featured Auctions</h2>
        <div class="content">
            {% for auction in auctions %}

            <div class="card">
                <h3>{{ auction.car.brand }} {{ auction.car.model}}</h3>
                <p>Highest bid: € {{ auction.price }}</p>
                <button><a href="/auction/{{ auction.id }}">View Auction</a></button>
            </div>

            {% endfor %}
        </div>
    </div>

    <footer>
        <p>Copyright © 2023 Ron</p>
    </footer>

</body>