<!DOCTYPE html>
<html>

<head>
    <title>Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/profile.css">
</head>

</html>

{% include 'navbar.html' %}


<h1>Profile</h1>
<h2>Username: {{ user.username }}</h2>
<h2>Email: {{ user.email }}</h2>

<div class="content">
    {% for car in cars %}
    <div class="card">
        <h2>Car: {{ car.brand }} {{ car.model }}</h2>
        <h2>Year: {{ car.year }}</h2>
        <h2>Bought for: € {{ car.price }}</h2>
    </div>

    {% endfor %}
</div>

</body>

</html>