<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/static/navbar.css">
</head>

</html>

<body>
    <div class="container">
        <nav>
            <ul>
                <li><a tabindex="1" href="/">Home</a></li>
                <li><a tabindex="1" href="/auctions">Auctions</a></li>
                <li><a tabindex="1" href="/auction/sell">Sell a Car</a></li>
                <li><a tabindex="1" href="/profile">Profile</a></li>

                {% if not current_user.is_authenticated %}
                <li><a tabindex="1" href="/login">Log In</a></li>
                <li><a tabindex="1" href="/register">Register</a></li>
                {% else %}
                <li><a tabindex="1" href="/logout">Log Out</a></li>
                {% endif %}

            </ul>
        </nav>
        {% block body %}

        {% endblock %}

    </div>
</body>